In [51]:
# pip install github3.py command for install github3
# execute pip install github3.py command from the the command window/terminal

import github3, json
import os
import pandas as pd  
from fbprophet import Prophet
# panda's nickname is pd
import numpy as np                                     # numpy as np
from pandas import DataFrame, Series                   # for convenience
import matplotlib.pyplot as plt
%matplotlib inline

In [52]:
GITHUB_TOKEN = 'd14e9f79e44f66bdc12e09bee463a3bd1225c98f'
ORG = 'SPM587SP19'                     
REPO = 'SCM587SP19'
FILENAME_ISSUES = ORG + '_issuedays.json'

In [53]:
gh = github3.login(token=GITHUB_TOKEN)

f = open(FILENAME_ISSUES, 'w')
for issue in gh.search_issues('type:issue repo:SPM587SP19/SCM587SP19'):          # Find pulls from given Repo
            label_name=[]
            data={}
            current_issue = issue.as_json()
            current_issue = json.loads(current_issue)
            data['Issues'] = 1
            data['created_at']= current_issue["created_at"][0:10]                 # Get created date of issue
            if current_issue["closed_at"] == None:
                data['closed_at']= current_issue["closed_at"]
            else:
                data['closed_at']= current_issue["closed_at"][0:10]               # Get closed date of issue
            data['State'] = current_issue["state"]                                # It gives state of issue like closed or open
            out=json.dumps(data)                                                  # save this all information to a JSON file
            f.write(out+ '\n')
f.close()

INFO:github3:Building a url from ('https://api.github.com', 'search', 'issues')
INFO:github3:JSON was returned
INFO:github3:JSON was returned
INFO:github3:JSON was returned
INFO:github3:JSON was returned

In [54]:
import json
listOfPulls = [json.loads(line) for line in open('SPM587SP19_issuedays.json')]
idays = DataFrame(listOfPulls)
idays.head()

   Issues State closed_at  created_at
0       1  open      None  2019-04-21
1       1  open      None  2019-04-21
2       1  open      None  2019-04-21
3       1  open      None  2019-04-21
4       1  open      None  2019-04-21

In [55]:
#idays['created_at'] = pd.to_datetime(idays['created_at'], errors='coerce')
#idays.groupby(pull_df['created_at'].dt.date).sum().reset_index()

In [56]:
#idays['closed_at'] = pd.to_datetime(idays['closed_at'], errors='coerce')
#idays.groupby(idays['closed_at'].dt.date).sum().reset_index()

In [57]:
idays['created_at'] = pd.to_datetime(idays['created_at'], errors='coerce')
idays.groupby(idays['created_at'].dt.weekday_name).sum().reset_index()

# The day of the week maximum number of issues created is "Wednesday"

  created_at  Issues
0     Friday      29
1     Monday      38
2   Saturday      31
3     Sunday      68
4   Thursday      33
5    Tuesday      78
6  Wednesday      82

In [59]:
idays['closed_at'] = pd.to_datetime(pull_df['closed_at'], errors='coerce')
idays.groupby(idays['closed_at'].dt.weekday_name).sum().reset_index()

#The day of the week maximum number of issues closed is "Wednesday"

   closed_at  Issues
0     Friday      16
1     Monday      38
2   Saturday      15
3     Sunday      59
4   Thursday      37
5    Tuesday      72
6  Wednesday      85